[submodule "contrib/src/webmodels/webmodels"]
	path = contrib/src/webmodels/models
	url = git@github.com:vimc/webmodels.git
[submodule "contrib/src/webmodels/tsgenerator"]
	path = contrib/src/webmodels/tsgenerator
	url = git@github.com:vimc/ts-generator.git
