*.dropbox.attr
*.iml
app/.tmp/*
app/\.awcache/
app/\.idea/dictionaries/
app/\.idea/inspectionProfiles
app/\.idea/misc.xml
app/\.idea/modules.xml
app/\.idea/typescript-compiler.xml
app/\.idea/vcs.xml
app/\.idea/workspace.xml
app/api\.log
app/node_modules/*
app/npm-debug\.log
app/out/*
app/reporting_api\.log
app/src/main/Models\.ts
app/src/webmodels/.gradle/**
app/src/webmodels/build/**
app/src/webmodels/generate/build/**
contrib/.tmp/*
contrib/\.idea/*
contrib/node_modules/*
contrib/npm-debug\.log
contrib/out/*
contrib/src/main/Models\.ts
contrib/src/webmodels/.gradle/**
contrib/src/webmodels/build/**
contrib/src/webmodels/generate/build/**
nohup\.out
react-prototype/dist/*
react-prototype/node_modules/*
react-prototype/npm-debug\.log
token_key/*
