[submodule "app/src/webmodels/models"]
	path = app/src/webmodels/models
	url = https://github.com/vimc/montagu-webmodels.git
[submodule "app/src/webmodels/tsgenerator"]
	path = app/src/webmodels/tsgenerator
	url = https://github.com/vimc/ts-generator.git
