[submodule "contrib/src/webmodels/webmodels"]
	path = contrib/src/webmodels/models
	url = https://github.com/vimc/montagu-webmodels.git
[submodule "contrib/src/webmodels/tsgenerator"]
	path = contrib/src/webmodels/tsgenerator
	url = https://github.com/vimc/tsgenerator.git
