@import "mixins";

button, .button {
    @include button-colors(rgb(0, 173, 239), #fff);
    @include button-borders(none,0);
    @include button-outlines(rgb(200, 200, 200), 1px, outset, null, 2px, outset);
    @include fonts(inherit, 12pt, bold);
    @extend .d-inline-block;
    @extend .align-top;
    padding: 6px 20px 5px 20px;
}

button:active {
    @include button-outlines(rgb(200, 200, 200), 1px, inset);
}

button[type=submit], .submit{
    @include button-colors(#5cb85c, #fff);
    @include button-outlines(#4cae4c, 1px, outset, null, 2px);
}

button:disabled, .button.disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    @include button-colors(#d4d4d4, #333);
    @include button-outlines(#5cb85c, 1px, outset);
}

.arrowDown:before {

    content: "\25be";
    float:right;
    color: #ffffff;
}

.arrowUp:before {

    content: "\25b4";
    float:right;
    color: #ffffff;
}

.arrowUp:after, .arrowDown:after
{
    content: "";
    margin:0 0.5em;
    display:inline-block;
}