select, input {
    font-size: inherit;
}

table tr th, .specialColumn td:first-child {
    background-color: rgb(170, 224, 250);
    font-weight: bold;
    vertical-align: top;
}

fieldset {
    display: inline;
    border: none;
    margin: 0;
    padding: 0;
}

.largeSectionTitle {
    font-family: header;
    font-size: 24pt;
    margin: 30px 0 5px 0;
}

.sectionTitle {
    font-family: header;
    font-size: 16pt;
    margin: 30px 0 15px 0;
}

.subSectionTitle {
    font-family: header;
    font-size: 12pt;
    margin: 15px 0;
    color: rgb(127, 127, 127);
}

.smallTitle {
    font-family: header;
    font-size: 12pt;
    margin: 20px 0 5px 0;
    color: rgb(127, 127, 127);
}

.control {
    font-size: 16pt;
}

.gapAbove {
    margin-top: 20px;
}

.disabledLink {
    color: rgb(127, 127, 127);
    text-decoration: underline;
}
