.form .fields {
    float: left;
    margin-right: 20px;
}

.form .fields input {
    display: block;
    margin-bottom: 10px;
    width: 300px;
    padding: 5px;
}

.error {
    color: red;
}

input[type=file] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.tableForm {
    width: auto;
    /* composes: specialColumn from "./common.css"; */
}

.tableForm input {
    width: 300px;
    font-size: 16pt;
    border: none;
    margin: 0;
    padding: 0 10px;
    background: none;
}

.tableForm tr td:nth-child(1) {
    width: 150px;
}

.tableForm tr td:nth-child(2) {
    width: 300px;
    padding: 0;
    background:
            radial-gradient(rgb(240,240,240) 15%, transparent 16%) 0 0,
            radial-gradient(rgb(240,240,240) 15%, transparent 16%) 4px 4px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 0.5px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 4px 4.5px;
    background-color: white;
    background-size: 8px 8px;
}

.tableForm tr td:nth-child(3) {
    width: 0;
    padding: 0;
    border: none;
}

.tableForm .error {
    padding: 10px;
}

