@import "bootstrap";

@mixin button-colors($bg-color, $color, $bg-color-hover:null, $color-hover:null) {
  background-color: $bg-color;
  color: $color;

  @include hover {
    background-color: if($bg-color-hover, $bg-color-hover, $bg-color);
    color: if($color-hover, $color-hover, $color);
  }
}

@mixin button-borders($border-color, $border-width, $border-color-hover:null, $border-width-hover:null) {
  border-color: $border-color;
  border-width: $border-width;

  @include hover {
    border-color: if($border-color-hover, $border-color-hover, $border-color);
    border-width: if($border-width-hover, $border-width-hover, $border-width);
  }
}

@mixin button-outlines($outline-color, $outline-width, $outline-style, $outline-color-hover:null, $outline-width-hover:null, $outline-style-hover:null) {
  outline-color: $outline-color;
  outline-width: $outline-width;
  outline-style: $outline-style;

  @include hover {
    outline-color: if($outline-color-hover, $outline-color-hover, $outline-color);
    outline-width: if($outline-width-hover, $outline-width-hover, $outline-width);
    outline-style: if($outline-style-hover, $outline-style-hover, $outline-style);
  }
}

@mixin fonts($family, $size, $font-weight) {
  font-family: $family;
  font-size: $size;
  font-weight: $font-weight;
}