.montagu-navbar {
    background-color: rgb(38, 50, 122);
    padding: 2px 5px 5px 7px;
    color: white;

    .montagu-navbar__chunk {
        font-weight: bold;
        font-size: 13px;
        display: inline-block;
        margin: 0 5px 0 0;
    }

    .montagu-navbar__chunk:before {
        content: " » ";
    }

    a .montagu-navbar__chunk {
        color: black;
    }
}

