:local(.fade) {

}

:local(.fade-enter) {
    opacity: 0.01;
}

:local(.fade-enter):local(.fade-enter-active) {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

:local(.fade-leave) {
    opacity: 1;
}

:local(.fade-leave):local(.fade-leave-active) {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}