
@import "../shared/styles/variables";
@import "../shared/styles/common";

.modelMetaLimitedWidthHeader {
  max-width: 10em;
}

.modelMetaLimitedWidthCell {
  max-width: 10em;
  word-wrap: break-word;
}