.tmp/*
\.awcache/
\.idea/angular-settings.xml
\.idea/dictionaries/
\.idea/inspectionProfiles
\.idea/jsLibraryMappings.xml
\.idea/misc.xml
\.idea/modules.xml
\.idea/typescript-compiler.xml
\.idea/vcs.xml
\.idea/watcherTasks.xml
\.idea/workspace.xml
api\.log
node_modules/*
npm-debug\.log
out/*
src/.idea/*
src/main/Models\.ts
src/webmodels/.gradle/**
src/webmodels/build/**
src/webmodels/generate/build/**
token_key/*