:local(.header) {
    padding: 10px;
    background-color: rgb(38, 50, 122);
    border-bottom: 2px solid white;
    color: white;
}

:local(.siteTitle) {
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 5px;
    vertical-align: bottom;
    font-family: header, sans-serif;
    font-size: 24pt;
    font-variant-caps: small-caps;
}

:local(.siteTitle) a, :local(.siteTitle) a:visited, :local(.siteTitle) a:hover {
    text-decoration: inherit;
    color: inherit;
}

:local(.titleAddition) {
    font-family: body, sans-serif;
    font-size: 10pt;
}

:local(.page) {
    margin: 0 auto;
    padding: 20px;
}

:local(.pageTitle) {
    font-family: header, sans-serif;
    font-size: 24pt;
    margin-bottom: 30px;
    border-bottom: 1px dashed;
}

:local(.pageContent) {
}