:local(.navbar) {
    background-color: rgb(200, 200, 200);
    padding: 5px 10px;
    color: black;
}

:local(.chunk) {
    font-weight: bold;
    display: inline-block;
    margin: 0 10px;
}

:local(.chunk):before {
    content: " » ";
}

a :local(.chunk) {
    color: black;
}