.DayPickerInput {
  input.form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.picker-on-right {
  .DayPickerInput {
    .DayPickerInput-Overlay {
      left: initial;
      right: 0;
    }
  }
}

.report-time-filters {
  .input-group {
    flex-wrap: nowrap !important;
  }
}

.report-filter-label {
  margin-bottom: 0;
  margin-right: 0.5em;
  font-size: 80%;
  font-weight: 700;
}
