.DayPickerInput {
  input.form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.picker-on-right {
  .DayPickerInput {
    .DayPickerInput-Overlay {
      left: initial;
      right: 0;
    }
  }
}

.report-date-filters {
  font-size: 90%;

  .input-group {
    flex-wrap: nowrap !important;
  }

  .date-filter{
    width: 47%;
  }

}

.rt-head {
  input {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    border-radius: 0.2rem !important;
  }
}
