.DayPickerInput {
  input.form-control {
    width: 110px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .report-time-filters {
    width: 350px;
  }

}

.picker-on-right {
  .DayPickerInput {
    .DayPickerInput-Overlay {
      left: initial;
      right: 0;
    }
  }
}

