$success: #28a75e;
@import "../shared/styles/variables";
@import "../../../node_modules/bootstrap-toggle/css/bootstrap-toggle.css";
@import "../../../node_modules/react-day-picker/lib/style.css";
@import "../../../node_modules/react-table/react-table.css";

$table-border-color: $gray-700;
$published-color: #868ED3;
$internal-color: darken($warning, 10%);
$montagu-header-bg-color: $gray-100;
$montagu-header-color: $body-color;
$montagu-breadcrumb-bg-color: $gray-100;
$montagu-breadcrumb-color: $success;
$montagu-table-border-color: $gray-300;

@import "../shared/styles/common";
@import "./styles/sidebar";
@import "./styles/report-table";
@import "./styles/report-page";

.badge-published {
  background-color: $published-color;
  color: white;
}

.badge-internal {
  background-color: $internal-color;
  color: white;
}

.changelog-label {
  border-radius: 0.25rem 0.25rem 0 0;
}

.changelog-item {
  padding-right: 5px;
  padding-top: 5px;
  margin-top: -2px;

  &.published {
    border-top: 1px solid $published-color;
    border-right: 1px solid $published-color;
  }

  &.internal {
    border-top: 1px solid $internal-color;
    border-right: 1px solid $internal-color;
  }
}

.pinned-report-link {
  margin: 0 auto;
  width: 204px;
  display: block !important;
}

.datestring-column {
  min-width: 10em;
}

td, th {
  border-width: 1px !important;
  border-color: $montagu-table-border-color !important;

  &.changelog-date {
    min-width: 120px;
    padding-top: 16px;
    @include media-breakpoint-up(sm) {
      width: 180px;
    }
  }
}

