$success: #28a75e;
@import "../shared/styles/variables";
@import "../../../node_modules/bootstrap-toggle/css/bootstrap-toggle.css";
@import "../../../node_modules/react-datetime/css/react-datetime.css";

$table-border-color: $gray-700;
$montagu-nav-bg-color: $gray-200;
$published-color: #868ED3;
$montagu-header-bg-color: $gray-200;
$montagu-header-color: $body-color;


@import "../shared/styles/common";
@import "./styles/reports";
@import "./styles/sidebar";