$success: #28a75e;
@import "../shared/styles/variables";
@import "../../../node_modules/bootstrap-toggle/css/bootstrap-toggle.css";
@import "../../../node_modules/react-day-picker/lib/style.css";

$table-border-color: $gray-700;
$published-color: #868ED3;
$montagu-header-bg-color: $gray-100;
$montagu-header-color: $body-color;
$montagu-breadcrumb-bg-color: $gray-100;
$montagu-breadcrumb-color: $success;

@import "../shared/styles/common";
@import "./styles/sidebar";
@import "./styles/reportsFilter";

.download-icon {
  vertical-align: sub;
  margin-left: 5px;
  margin-right: 5px;
}